<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <p>Please <a href="https://localhost:3000/" >Click Here</a> to see the images</p>
    <p>Please <a href="https://localhost:3000/resize?width=200&height=200" >Click Here</a> to see the resized 200x200 images</p>
    <p>You can pass your choice of width and height</p>>
  </div>
  <div class="erro">
  
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>